<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Flyorex-S0l
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
    <style>
      body{
        background-color:#132e44;
     }
     </style>

  </head>
  <body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#"class="navbar-brand" href="#"><b><i>Buildings Management-System</i></b></a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">Contact</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">About</a></li>
        </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search"  placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <a  href="{% url 'login' %}"type="button" class="btn btn-outline-light me-2" >Login</a>
          <a  href= "{% url 'signup' %} "type="button" class="btn btn-warning" >Sign-up</a>
        </div>
      </div>
    </div>
  </header>
  <h2>
    <div class="frame"style="color: white; text-align: center;">
      <i class="bi bi-building" >Public Buildings - Management </i>
    </div>
  </h2>
    <div class="container">{% block content %}{% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>